node_modules
.next
out
.env*.local
.env
.DS_Store
*.log
.vercel
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map
public/fallback-*.js
supabase/.temp
.env.prod-export
